<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.appfoundry.android.testing" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".BBApplication">
        <activity
            android:name=".ui.activity.PersonListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PersonDetailActivity"
            android:label="@string/title_person_detail"
            android:parentActivityName=".ui.activity.PersonListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.PersonListActivity" />
        </activity>
        <activity android:name=".ui.activity.WikipediaActivity" />
    </application>

</manifest>
